In [130]:
import pandas as pd

In [131]:
df = pd.read_csv('shop_ease_fashion_dataset.csv')
df

,order_id,order_date,customer_id,age_group,gender,city_tier,customer_tenure_months,product_category,order_value,quantity,...,payment_mode,acquisition_channel,channel_cost,delivery_time_days,return_status,cancellation_reason,refund_amount,complaint_flag,sub_category,brand
0,ORD006253,2025-10-02,CUST02806,35-44,Female,Tier-3,43,Formal,4002.22,1,...,COD,Influencer,81.67,4,No,NaN,0.0,0,Trousers,BrandA
1,ORD004685,2025-08-09,CUST05257,35-44,Male,Tier-2,53,Formal,2074.76,1,...,Card,Referral,6.22,6,No,NaN,0.0,0,Trousers,BrandE
2,ORD001732,2025-05-10,CUST05370,18-24,Male,Tier-3,57,Accessories,542.91,1,...,Wallet,Google,41.45,5,No,NaN,0.0,0,Watches,BrandE
3,ORD004743,2025-01-16,CUST04652,18-24,Male,Tier-1,28,Loungewear,931.91,1,...,UPI,Instagram,26.03,1,No,NaN,0.0,0,Nightwear,BrandC
4,ORD004522,2025-11-07,CUST02292,25-34,Female,Tier-1,41,Casual,2075.93,1,...,Card,Influencer,124.41,1,No,NaN,0.0,0,Dresses,BrandD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,ORD005735,2025-11-12,CUST01589,18-24,Female,Tier-1,16,Accessories,339.09,2,...,NetBanking,Email,7.56,1,No,NaN,0.0,0,Bags,BrandE
9996,ORD005192,2025-10-15,CUST04253,25-34,Female,Tier-1,53,Formal,2863.50,1,...,UPI,Google,37.50,2,No,NaN,0.0,0,Office Dresses,BrandF
9997,ORD005391,2025-04-09,CUST02000,18-24,Male,Tier-3,57,Loungewear,1698.43,2,...,COD,Referral,5.99,4,No,NaN,0.0,0,Comfort Tees,BrandA
9998,ORD000861,2025-09-06,CUST00158,25-34,Male,Tier-1,22,Casual,2126.32,1,...,UPI,Google,39.30,2,No,NaN,0.0,0,Jeans,BrandB
9999,ORD007271,2025-10-09,CUST04188,45+,Male,Tier-2,6,Casual,1223.29,1,...,Card,Email,8.84,4,No,NaN,0.0,0,Shirts,BrandA

In [132]:
df.isna().sum()

order_id                     0
order_date                   0
customer_id                  0
age_group                    0
gender                       0
city_tier                    0
customer_tenure_months       0
product_category             0
order_value                  0
quantity                     0
discount_percent             0
payment_mode                 0
acquisition_channel          0
channel_cost                 0
delivery_time_days           0
return_status                0
cancellation_reason       9797
refund_amount                0
complaint_flag               0
sub_category                 0
brand                        0
dtype: int64

In [133]:
df.duplicated().sum()

0

In [134]:
df.dtypes

order_id                   object
order_date                 object
customer_id                object
age_group                  object
gender                     object
city_tier                  object
customer_tenure_months      int64
product_category           object
order_value               float64
quantity                    int64
discount_percent            int64
payment_mode               object
acquisition_channel        object
channel_cost              float64
delivery_time_days          int64
return_status              object
cancellation_reason        object
refund_amount             float64
complaint_flag              int64
sub_category               object
brand                      object
dtype: object

In [135]:
df['cancellation_reason'].unique()

array([nan, 'Inventory Shortage', 'Payment Failure', 'Customer Request',
       'Logistics Delay'], dtype=object)

In [136]:
df.columns

Index(['order_id', 'order_date', 'customer_id', 'age_group', 'gender',
       'city_tier', 'customer_tenure_months', 'product_category',
       'order_value', 'quantity', 'discount_percent', 'payment_mode',
       'acquisition_channel', 'channel_cost', 'delivery_time_days',
       'return_status', 'cancellation_reason', 'refund_amount',
       'complaint_flag', 'sub_category', 'brand'],
      dtype='object')

In [137]:
df['customer_id'].nunique()

4902

In [138]:
df.shape

(10000, 21)

## 1. Overall Health

In [139]:
import pandas as pd

# Convert order_date to datetime
df['order_date'] = pd.to_datetime(df['order_date'])

# Create Year-Month column
df['order_month'] = df['order_date'].dt.to_period('M').astype(str)

In [140]:
monthly_revenue = (
    df.groupby('order_month', as_index=False)
      .agg(total_revenue=('order_value', 'sum'),
           total_orders=('order_id', 'count'))
)

monthly_revenue

   order_month  total_revenue  total_orders
0      2025-01     1619336.75           859
1      2025-02     1441231.22           759
2      2025-03     1587527.76           824
3      2025-04     1671097.57           865
4      2025-05     1695984.10           864
5      2025-06     1628008.06           841
6      2025-07     1606673.27           838
7      2025-08     1583774.05           857
8      2025-09     1492969.22           778
9      2025-10     1308813.72           837
10     2025-11     1395776.58           838
11     2025-12     1414415.79           840

In [141]:
monthly_revenue['total_revenue_mn'] = (
    monthly_revenue['total_revenue'] / 1_000_000
).round(2)

monthly_revenue

   order_month  total_revenue  total_orders  total_revenue_mn
0      2025-01     1619336.75           859              1.62
1      2025-02     1441231.22           759              1.44
2      2025-03     1587527.76           824              1.59
3      2025-04     1671097.57           865              1.67
4      2025-05     1695984.10           864              1.70
5      2025-06     1628008.06           841              1.63
6      2025-07     1606673.27           838              1.61
7      2025-08     1583774.05           857              1.58
8      2025-09     1492969.22           778              1.49
9      2025-10     1308813.72           837              1.31
10     2025-11     1395776.58           838              1.40
11     2025-12     1414415.79           840              1.41

In [142]:
monthly_complaints = (
    df.groupby('order_month', as_index=False)
      .agg(
          total_orders=('order_id', 'count'),
          complaints=('complaint_flag', 'sum')
      )
)

monthly_complaints['complaint_rate'] = (
    monthly_complaints['complaints'] * 100 / monthly_complaints['total_orders']
)

monthly_complaints

   order_month  total_orders  complaints  complaint_rate
0      2025-01           859          27        3.143190
1      2025-02           759          24        3.162055
2      2025-03           824          25        3.033981
3      2025-04           865          29        3.352601
4      2025-05           864          34        3.935185
5      2025-06           841          32        3.804994
6      2025-07           838          31        3.699284
7      2025-08           857          34        3.967328
8      2025-09           778          21        2.699229
9      2025-10           837          45        5.376344
10     2025-11           838          34        4.057279
11     2025-12           840          33        3.928571

In [143]:
monthly_returns = (
    df.groupby('order_month', as_index=False)
      .agg(
          total_orders=('order_id', 'count'),
          returned_orders=('return_status', lambda x: (x == 'Returned').sum())
      )
)

monthly_returns['return_rate'] = (
    monthly_returns['returned_orders'] * 100 / monthly_returns['total_orders']
)

monthly_returns

   order_month  total_orders  returned_orders  return_rate
0      2025-01           859               59     6.868452
1      2025-02           759               50     6.587615
2      2025-03           824               67     8.131068
3      2025-04           865               47     5.433526
4      2025-05           864               56     6.481481
5      2025-06           841               48     5.707491
6      2025-07           838               68     8.114558
7      2025-08           857               64     7.467911
8      2025-09           778               58     7.455013
9      2025-10           837               58     6.929510
10     2025-11           838               60     7.159905
11     2025-12           840               53     6.309524

In [144]:
monthly_aov = (
    df.groupby('order_month', as_index=False)
      .agg(
          total_revenue=('order_value', 'sum'),
          total_orders=('order_id', 'count')
      )
)

monthly_aov['AOV'] = (
    monthly_aov['total_revenue'] / monthly_aov['total_orders']
)

monthly_aov

   order_month  total_revenue  total_orders          AOV
0      2025-01     1619336.75           859  1885.141735
1      2025-02     1441231.22           759  1898.855362
2      2025-03     1587527.76           824  1926.611359
3      2025-04     1671097.57           865  1931.904705
4      2025-05     1695984.10           864  1962.944560
5      2025-06     1628008.06           841  1935.800309
6      2025-07     1606673.27           838  1917.271205
7      2025-08     1583774.05           857  1848.044399
8      2025-09     1492969.22           778  1918.983573
9      2025-10     1308813.72           837  1563.696201
10     2025-11     1395776.58           838  1665.604511
11     2025-12     1414415.79           840  1683.828321

In [145]:
monthly_aov['AOV_k'] = (
    monthly_aov['AOV'] / 1_000
).round(2)

monthly_aov

   order_month  total_revenue  total_orders          AOV  AOV_k
0      2025-01     1619336.75           859  1885.141735   1.89
1      2025-02     1441231.22           759  1898.855362   1.90
2      2025-03     1587527.76           824  1926.611359   1.93
3      2025-04     1671097.57           865  1931.904705   1.93
4      2025-05     1695984.10           864  1962.944560   1.96
5      2025-06     1628008.06           841  1935.800309   1.94
6      2025-07     1606673.27           838  1917.271205   1.92
7      2025-08     1583774.05           857  1848.044399   1.85
8      2025-09     1492969.22           778  1918.983573   1.92
9      2025-10     1308813.72           837  1563.696201   1.56
10     2025-11     1395776.58           838  1665.604511   1.67
11     2025-12     1414415.79           840  1683.828321   1.68

## 2. Customers

In [146]:
import numpy as np

# Tenure Buckets
df['tenure_bucket'] = pd.cut(
    df['customer_tenure_months'],
    bins=[-1, 3, 12, 1000],
    labels=['0-3 months', '3-12 months', '12+ months']
)

In [147]:
age_complaint = (
    df.groupby('age_group', as_index=False)
      .agg(
          total_orders=('order_id', 'count'),
          complaints=('complaint_flag', 'sum')
      )
)

age_complaint['complaint_rate'] = (
    age_complaint['complaints'] * 100 / age_complaint['total_orders']
)

age_complaint

  age_group  total_orders  complaints  complaint_rate
0     18-24          3499         136        3.886825
1     25-34          4071         133        3.267011
2     35-44          1703          75        4.403993
3       45+           727          25        3.438790

In [148]:
tenure_returns = (
    df.groupby('tenure_bucket', as_index=False)
      .agg(
          total_orders=('order_id', 'count'),
          returned_orders=('return_status', lambda x: (x == 'Returned').sum())
      )
)

tenure_returns['return_rate'] = (
    tenure_returns['returned_orders'] * 100 / tenure_returns['total_orders']
)

tenure_returns

C:\Users\shrey\AppData\Local\Temp\ipykernel_32320\240869706.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('tenure_bucket', as_index=False)

  tenure_bucket  total_orders  returned_orders  return_rate
0    0-3 months           477               34     7.127883
1   3-12 months          1465              107     7.303754
2    12+ months          8058              547     6.788285

In [149]:
city_complaint = (
    df.groupby('city_tier', as_index=False)
      .agg(
          total_orders=('order_id', 'count'),
          complaints=('complaint_flag', 'sum')
      )
)

city_complaint['complaint_rate'] = (
    city_complaint['complaints'] * 100 / city_complaint['total_orders']
)

city_complaint

  city_tier  total_orders  complaints  complaint_rate
0    Tier-1          5397         119        2.204929
1    Tier-2          3061         111        3.626266
2    Tier-3          1542         139        9.014267

In [150]:
segment_matrix = (
    df.groupby(['age_group', 'city_tier'], as_index=False)
      .agg(
          total_orders=('order_id', 'count'),
          complaints=('complaint_flag', 'sum'),
          returned_orders=('return_status', lambda x: (x == 'Returned').sum())
      )
)

segment_matrix['complaint_rate'] = (
    segment_matrix['complaints'] * 100 / segment_matrix['total_orders']
)

segment_matrix['return_rate'] = (
    segment_matrix['returned_orders'] * 100 / segment_matrix['total_orders']
)

segment_matrix.sort_values(
    ['complaint_rate', 'total_orders'],
    ascending=[False, False]
)

,age_group,city_tier,total_orders,complaints,returned_orders,complaint_rate,return_rate
8,35-44,Tier-3,279,30,23,10.752688,8.243728
11,45+,Tier-3,96,9,5,9.375000,5.208333
2,18-24,Tier-3,570,52,42,9.122807,7.368421
5,25-34,Tier-3,597,48,42,8.040201,7.035176
1,18-24,Tier-2,1103,48,73,4.351768,6.618314
7,35-44,Tier-2,512,22,32,4.296875,6.250000
10,45+,Tier-2,201,7,12,3.482587,5.970149
4,25-34,Tier-2,1245,34,82,2.730924,6.586345
6,35-44,Tier-1,912,23,71,2.521930,7.785088
3,25-34,Tier-1,2229,51,149,2.288022,6.684612
9,45+,Tier-1,430,9,26,2.093023,6.046512
0,18-24,Tier-1,1826,36,131,1.971522,7.174151

## 3. Products

In [151]:
category_perf = (
    df.groupby('product_category', as_index=False)
      .agg(
          total_revenue=('order_value', 'sum'),
          total_orders=('order_id', 'count'),
          returned_orders=('return_status', lambda x: (x == 'Returned').sum()),
          complaints=('complaint_flag', 'sum')
      )
)

# Rates
category_perf['return_rate'] = (
    category_perf['returned_orders'] * 100 / category_perf['total_orders']
)

category_perf['complaint_rate'] = (
    category_perf['complaints'] * 100 / category_perf['total_orders']
)

# Revenue in Millions
category_perf['revenue_mn'] = (
    category_perf['total_revenue'] / 1_000_000
).round(2)

category_perf[['product_category', 'revenue_mn', 'return_rate', 'complaint_rate']]

  product_category  revenue_mn  return_rate  complaint_rate
0      Accessories        1.50     9.221214        4.300048
1       Activewear        3.12     6.311881        4.146040
2           Casual        3.74     5.233645        3.084112
3           Ethnic        4.11     8.980756        4.205274
4           Formal        4.83     5.858702        3.101666
5       Loungewear        1.14     5.263158        3.277061

In [152]:
category_perf

,product_category,total_revenue,total_orders,returned_orders,complaints,return_rate,complaint_rate,revenue_mn
0,Accessories,1504967.74,2093,193,90,9.221214,4.300048,1.50
1,Activewear,3122642.65,1616,102,67,6.311881,4.146040,3.12
2,Casual,3738191.17,2140,112,66,5.233645,3.084112,3.74
3,Ethnic,4112070.64,1403,126,59,8.980756,4.205274,4.11
4,Formal,4828821.96,1741,102,54,5.858702,3.101666,4.83
5,Loungewear,1138913.93,1007,53,33,5.263158,3.277061,1.14

In [153]:
category_complaints = (
    df.groupby('product_category', as_index=False)
      .agg(
          total_orders=('order_id', 'count'),
          complaints=('complaint_flag', 'sum')
      )
)

category_complaints['complaint_rate'] = (
    category_complaints['complaints'] / category_complaints['total_orders']
)

category_complaints.sort_values('complaint_rate', ascending=False)

  product_category  total_orders  complaints  complaint_rate
0      Accessories          2093          90        0.043000
3           Ethnic          1403          59        0.042053
1       Activewear          1616          67        0.041460
5       Loungewear          1007          33        0.032771
4           Formal          1741          54        0.031017
2           Casual          2140          66        0.030841

In [154]:
subcat_returns = (
    df.groupby('sub_category', as_index=False)
      .agg(
          total_orders=('order_id', 'count'),
          returned_orders=('return_status', lambda x: (x == 'Returned').sum())
      )
)

subcat_returns['return_rate'] = (
    subcat_returns['returned_orders'] * 100 / subcat_returns['total_orders']
)

# Filter meaningful volume
subcat_returns = subcat_returns[subcat_returns['total_orders'] >= 50]

subcat_returns.sort_values('return_rate', ascending=False).head(10)

      sub_category  total_orders  returned_orders  return_rate
23         Watches           521               56    10.748560
11        Lehengas           345               34     9.855072
5      Ethnic Sets           347               34     9.798271
16         Scarves           510               45     8.823529
0             Bags           550               48     8.727273
1            Belts           512               44     8.593750
15          Sarees           347               29     8.357349
9           Kurtas           364               29     7.967033
10        Leggings           404               31     7.673267
13  Office Dresses           418               31     7.416268

In [155]:
discount_return = (
    df.groupby('product_category', as_index=False)
      .agg(
          avg_discount=('discount_percent', 'mean'),
          total_orders=('order_id', 'count'),
          returned_orders=('return_status', lambda x: (x == 'Returned').sum())
      )
)

discount_return['return_rate'] = (
    discount_return['returned_orders'] * 100 / discount_return['total_orders']
)

discount_return[['product_category', 'avg_discount', 'return_rate']]

  product_category  avg_discount  return_rate
0      Accessories     13.064978     9.221214
1       Activewear     12.527847     6.311881
2           Casual     13.077103     5.233645
3           Ethnic     12.712046     8.980756
4           Formal     12.688110     5.858702
5       Loungewear     13.872890     5.263158

In [156]:
brand_perf = (
    df.groupby('brand', as_index=False)
      .agg(
          total_revenue=('order_value', 'sum'),
          total_orders=('order_id', 'count'),
          returned_orders=('return_status', lambda x: (x == 'Returned').sum()),
          complaints=('complaint_flag', 'sum')
      )
)

# Rates
brand_perf['return_rate'] = (
    brand_perf['returned_orders'] / brand_perf['total_orders']
)

brand_perf['complaint_rate'] = (
    brand_perf['complaints'] / brand_perf['total_orders']
)

# Revenue in Millions
brand_perf['revenue_mn'] = (
    brand_perf['total_revenue'] / 1_000_000
).round(2)

# Remove low-volume noise
brand_perf = brand_perf[brand_perf['total_orders'] >= 50]

brand_perf

,brand,total_revenue,total_orders,returned_orders,complaints,return_rate,complaint_rate,revenue_mn
0,BrandA,3233439.17,1700,126,68,0.074118,0.040000,3.23
1,BrandB,3127938.65,1701,114,61,0.067019,0.035861,3.13
2,BrandC,2860409.84,1542,102,58,0.066148,0.037613,2.86
3,BrandD,3152455.66,1735,108,62,0.062248,0.035735,3.15
4,BrandE,3057759.78,1660,131,63,0.078916,0.037952,3.06
5,BrandF,3013604.99,1662,107,57,0.064380,0.034296,3.01

In [157]:
brand_category_risk = (
    df.groupby(['brand', 'product_category'], as_index=False)
      .agg(
          total_orders=('order_id', 'count'),
          complaints=('complaint_flag', 'sum'),
          returned_orders=('return_status', lambda x: (x == 'Returned').sum())
      )
)

brand_category_risk['complaint_rate'] = (
    brand_category_risk['complaints'] / brand_category_risk['total_orders']
)

brand_category_risk['return_rate'] = (
    brand_category_risk['returned_orders'] / brand_category_risk['total_orders']
)

brand_category_risk = brand_category_risk[
    brand_category_risk['total_orders'] >= 30
]

brand_category_risk.sort_values(
    ['complaint_rate', 'return_rate'],
    ascending=False
)

,brand,product_category,total_orders,complaints,returned_orders,complaint_rate,return_rate
9,BrandB,Ethnic,240,15,28,0.062500,0.116667
5,BrandA,Loungewear,172,10,10,0.058140,0.058140
18,BrandD,Accessories,386,22,37,0.056995,0.095855
15,BrandC,Ethnic,229,13,24,0.056769,0.104803
25,BrandE,Activewear,297,16,21,0.053872,0.070707
30,BrandF,Accessories,367,19,34,0.051771,0.092643
13,BrandC,Activewear,247,12,12,0.048583,0.048583
1,BrandA,Activewear,257,12,19,0.046693,0.073930
0,BrandA,Accessories,357,16,37,0.044818,0.103641
24,BrandE,Accessories,343,15,37,0.043732,0.107872
29,BrandE,Loungewear,161,7,13,0.043478,0.080745
16,BrandC,Formal,276,12,22,0.043478,0.079710
21,BrandD,Ethnic,234,10,14,0.042735,0.059829
31,BrandF,Activewear,248,10,17,0.040323,0.068548
3,BrandA,Ethnic,254,10,26,0.039370,0.102362
10,BrandB,Formal,311,11,16,0.035370,0.051447
6,BrandB,Accessories,348,12,26,0.034483,0.074713
26,BrandE,Casual,350,12,23,0.034286,0.065714
4,BrandA,Formal,293,10,23,0.034130,0.078498
32,BrandF,Casual,368,12,18,0.032609,0.048913
14,BrandC,Casual,338,11,17,0.032544,0.050296
19,BrandD,Activewear,284,9,17,0.031690,0.059859
8,BrandB,Casual,349,11,20,0.031519,0.057307
35,BrandF,Loungewear,171,5,12,0.029240,0.070175
28,BrandE,Formal,280,8,15,0.028571,0.053571
7,BrandB,Activewear,283,8,16,0.028269,0.056537
33,BrandF,Ethnic,217,6,12,0.027650,0.055300
22,BrandD,Formal,290,8,12,0.027586,0.041379
2,BrandA,Casual,367,10,11,0.027248,0.029973
20,BrandD,Casual,368,10,23,0.027174,0.062500
17,BrandC,Loungewear,160,4,5,0.025000,0.031250
11,BrandB,Loungewear,170,4,8,0.023529,0.047059
27,BrandE,Ethnic,229,5,22,0.021834,0.096070
12,BrandC,Accessories,292,6,22,0.020548,0.075342
23,BrandD,Loungewear,173,3,5,0.017341,0.028902
34,BrandF,Formal,291,5,14,0.017182,0.048110

## 4. Marketing

In [158]:
channel_cac = (
    df.groupby('acquisition_channel', as_index=False)
      .agg(
          total_orders=('order_id', 'count'),
          avg_cac=('channel_cost', 'mean')
      )
)

channel_cac

  acquisition_channel  total_orders    avg_cac
0               Email          1682   8.797539
1              Google          2419  38.488851
2          Influencer          1873  95.370950
3           Instagram          2830  27.483459
4            Referral          1196   5.510794

In [159]:
channel_complaints = (
    df.groupby('acquisition_channel', as_index=False)
      .agg(
          total_orders=('order_id', 'count'),
          complaints=('complaint_flag', 'sum')
      )
)

channel_complaints['complaint_rate'] = (
    channel_complaints['complaints'] * 100 / channel_complaints['total_orders']
)

channel_complaints

  acquisition_channel  total_orders  complaints  complaint_rate
0               Email          1682          58        3.448276
1              Google          2419          93        3.844564
2          Influencer          1873          64        3.416978
3           Instagram          2830         118        4.169611
4            Referral          1196          36        3.010033

In [160]:
channel_value = (
    df.groupby('acquisition_channel', as_index=False)
      .agg(
          total_orders=('order_id', 'count'),
          avg_order_value=('order_value', 'mean'),
          avg_cac=('channel_cost', 'mean')
      )
)

# AOV in Thousands
channel_value['AOV_k'] = (channel_value['avg_order_value'] / 1_000).round(2)

channel_value[['acquisition_channel', 'AOV_k', 'avg_cac', 'total_orders']] \
    .sort_values('AOV_k', ascending=False)

  acquisition_channel  AOV_k    avg_cac  total_orders
0               Email   1.88   8.797539          1682
4            Referral   1.88   5.510794          1196
1              Google   1.85  38.488851          2419
3           Instagram   1.85  27.483459          2830
2          Influencer   1.78  95.370950          1873

In [161]:
channel_value

  acquisition_channel  total_orders  avg_order_value    avg_cac  AOV_k
0               Email          1682      1876.243502   8.797539   1.88
1              Google          2419      1854.558309  38.488851   1.85
2          Influencer          1873      1776.029413  95.370950   1.78
3           Instagram          2830      1845.735297  27.483459   1.85
4            Referral          1196      1884.327751   5.510794   1.88

In [162]:
channel_returns = (
    df.groupby('acquisition_channel', as_index=False)
      .agg(
          total_orders=('order_id', 'count'),
          returned_orders=('return_status', lambda x: (x == 'Returned').sum())
      )
)

channel_returns['return_rate'] = (
    channel_returns['returned_orders'] * 100 / channel_returns['total_orders']
)

channel_returns

  acquisition_channel  total_orders  returned_orders  return_rate
0               Email          1682              121     7.193817
1              Google          2419              153     6.324928
2          Influencer          1873              132     7.047517
3           Instagram          2830              202     7.137809
4            Referral          1196               80     6.688963

In [163]:
channel_revenue = (
    df.groupby('acquisition_channel', as_index=False)
      .agg(
          total_revenue=('order_value', 'sum'),
          total_orders=('order_id', 'count')
      )
)

# Convert revenue to Millions
channel_revenue['revenue_mn'] = (
    channel_revenue['total_revenue'] / 1_000_000
).round(2)

channel_revenue[['acquisition_channel', 'revenue_mn', 'total_orders']]

  acquisition_channel  revenue_mn  total_orders
0               Email        3.16          1682
1              Google        4.49          2419
2          Influencer        3.33          1873
3           Instagram        5.22          2830
4            Referral        2.25          1196

## 5. Operations

In [164]:
# Delivery time buckets
df['delivery_bucket'] = pd.cut(
    df['delivery_time_days'],
    bins=[-1, 3, 6, 1000],
    labels=['0â€“3 days', '4â€“6 days', '7+ days']
)

In [165]:
delivery_complaints = (
    df.groupby('delivery_bucket', as_index=False)
      .agg(
          total_orders=('order_id', 'count'),
          complaints=('complaint_flag', 'sum')
      )
)

delivery_complaints['complaint_rate'] = (
    delivery_complaints['complaints'] / delivery_complaints['total_orders']
)

delivery_complaints

C:\Users\shrey\AppData\Local\Temp\ipykernel_32320\593694912.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('delivery_bucket', as_index=False)

  delivery_bucket  total_orders  complaints  complaint_rate
0        0â€“3 days          6947         142        0.020440
1        4â€“6 days          2909         190        0.065315
2         7+ days           144          37        0.256944

In [166]:
delivery_returns = (
    df.groupby('delivery_bucket', as_index=False)
      .agg(
          total_orders=('order_id', 'count'),
          returned_orders=('return_status', lambda x: (x == 'Returned').sum())
      )
)

delivery_returns['return_rate'] = (
    delivery_returns['returned_orders'] / delivery_returns['total_orders']
)

delivery_returns

C:\Users\shrey\AppData\Local\Temp\ipykernel_32320\643115446.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('delivery_bucket', as_index=False)

  delivery_bucket  total_orders  returned_orders  return_rate
0        0â€“3 days          6947              462     0.066504
1        4â€“6 days          2909              211     0.072534
2         7+ days           144               15     0.104167

In [167]:
refund_impact = (
    df.groupby('delivery_bucket', as_index=False)
      .agg(
          total_refund=('refund_amount', 'sum'),
          avg_refund=('refund_amount', 'mean'),
          total_orders=('order_id', 'count')
      )
)

# Refund in Thousands
refund_impact['total_refund_k'] = (
    refund_impact['total_refund'] / 1_000
).round(2)

refund_impact[['delivery_bucket', 'total_refund_k', 'avg_refund', 'total_orders']]

C:\Users\shrey\AppData\Local\Temp\ipykernel_32320\1916669147.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('delivery_bucket', as_index=False)

  delivery_bucket  total_refund_k  avg_refund  total_orders
0        0â€“3 days         1034.13  148.859619          6947
1        4â€“6 days          447.94  153.983527          2909
2         7+ days           36.21  251.460139           144

In [168]:
payment_ops = (
    df.groupby('payment_mode', as_index=False)
      .agg(
          total_orders=('order_id', 'count'),
          complaints=('complaint_flag', 'sum'),
          returned_orders=('return_status', lambda x: (x == 'Returned').sum())
      )
)

payment_ops['complaint_rate'] = (
    payment_ops['complaints'] / payment_ops['total_orders']
)

payment_ops['return_rate'] = (
    payment_ops['returned_orders'] / payment_ops['total_orders']
)

payment_ops

,payment_mode,total_orders,complaints,returned_orders,complaint_rate,return_rate
0,COD,1818,115,227,0.063256,0.124862
1,Card,3427,106,191,0.030931,0.055734
2,NetBanking,1006,27,43,0.026839,0.042744
3,UPI,2795,86,173,0.030769,0.061896
4,Wallet,954,35,54,0.036688,0.056604

In [169]:
cancellation_reasons = (
    df[df['cancellation_reason'].notna()]
    .groupby('cancellation_reason', as_index=False)
    .agg(
        total_cancellations=('order_id', 'count')
    )
)

cancellation_reasons

  cancellation_reason  total_cancellations
0    Customer Request                   49
1  Inventory Shortage                   47
2     Logistics Delay                   47
3     Payment Failure                   60

## RFM Analysis

In [170]:
# Snapshot date (1 day after last order)
snapshot_date = df['order_date'].max() + pd.Timedelta(days=1)

rfm = (
    df.groupby('customer_id')
      .agg(
          recency=('order_date', lambda x: (snapshot_date - x.max()).days),
          frequency=('order_id', 'count'),
          monetary=('order_value', 'sum')
      )
      .reset_index()
)

In [171]:
# RFM scores using rank to avoid duplicate bin edges
rfm['R'] = pd.qcut(rfm['recency'].rank(method='first'), 5, labels=[5,4,3,2,1]).astype(int)
rfm['F'] = pd.qcut(rfm['frequency'].rank(method='first'), 5, labels=[1,2,3,4,5]).astype(int)
rfm['M'] = pd.qcut(rfm['monetary'].rank(method='first'), 5, labels=[1,2,3,4,5]).astype(int)

In [172]:
def rfm_segment(row):
    R, F, M = row['R'], row['F'], row['M']

    if R == 5 and F == 5 and M == 5:
        return 'Top Customers'

    elif F >= 4 and M >= 4:
        return 'Loyal Customers'

    elif R == 5:
        return 'Recent Customers'

    elif M == 5:
        return 'Big Spenders'

    elif R == 1:
        return 'Lost Customers'

    elif R == 1 and F == 1 and M == 1:
        return 'Low Value Customers'

    elif R >= 4 and F >= 3:
        return 'Potential Loyalists'

    elif R in [2,3] and F in [2,3]:
        return 'At Risk Customers'

    else:
        return 'Others'

In [173]:
rfm['segment'] = rfm.apply(rfm_segment, axis=1)

In [174]:
rfm_segments = (
    rfm.groupby('segment', as_index=False)
       .agg(
           customers=('customer_id', 'count'),
           avg_recency=('recency', 'mean'),
           avg_frequency=('frequency', 'mean'),
           avg_monetary=('monetary', 'mean')
       )
)

rfm_segments

               segment  customers  avg_recency  avg_frequency  avg_monetary
0    At Risk Customers        747   154.797858       1.527443   2515.326667
1         Big Spenders        141   164.609929       1.815603   7382.611064
2       Lost Customers        867   294.011534       1.191465   2055.055698
3      Loyal Customers       1197   104.474520       3.203008   6581.250710
4               Others        857   127.156359       1.365228   1913.182917
5  Potential Loyalists        348    62.250000       2.172414   2916.431063
6     Recent Customers        540    20.161111       1.781481   2602.840333
7        Top Customers        205    18.263415       4.136585   8810.590098

In [175]:
rfm_ops = (
    df.merge(rfm[['customer_id', 'segment']], on='customer_id')
      .groupby('segment', as_index=False)
      .agg(
          total_orders=('order_id', 'count'),
          complaints=('complaint_flag', 'sum'),
          returned_orders=('return_status', lambda x: (x == 'Returned').sum())
      )
)

rfm_ops['complaint_rate'] = rfm_ops['complaints'] / rfm_ops['total_orders']
rfm_ops['return_rate'] = rfm_ops['returned_orders'] / rfm_ops['total_orders']

rfm_ops

,segment,total_orders,complaints,returned_orders,complaint_rate,return_rate
0,At Risk Customers,1141,38,66,0.033304,0.057844
1,Big Spenders,256,4,15,0.015625,0.058594
2,Lost Customers,1033,33,67,0.031946,0.064860
3,Loyal Customers,3834,160,284,0.041732,0.074074
4,Others,1170,44,93,0.037607,0.079487
5,Potential Loyalists,756,26,41,0.034392,0.054233
6,Recent Customers,962,36,72,0.037422,0.074844
7,Top Customers,848,28,50,0.033019,0.058962

## BCG Matrix (Category)

In [176]:
# Ensure order_month exists
df['order_month'] = pd.to_datetime(df['order_date']).dt.to_period('M').astype(str)

category_monthly = (
    df.groupby(['order_month', 'product_category'], as_index=False)
      .agg(revenue=('order_value', 'sum'))
)

In [177]:
# Pivot for growth calculation
category_pivot = category_monthly.pivot(
    index='order_month',
    columns='product_category',
    values='revenue'
).sort_index()

# Growth = (last month - first month) / first month
category_growth = (
    (category_pivot.iloc[-1] - category_pivot.iloc[0]) /
     category_pivot.iloc[0]
).reset_index()

category_growth.columns = ['product_category', 'revenue_growth']

In [178]:
category_revenue = (
    df.groupby('product_category', as_index=False)
      .agg(total_revenue=('order_value', 'sum'))
)

category_revenue['revenue_share'] = (
    category_revenue['total_revenue'] /
    category_revenue['total_revenue'].sum()
)

In [179]:
bcg_category = category_revenue.merge(
    category_growth,
    on='product_category',
    how='left'
)

bcg_category

  product_category  total_revenue  revenue_share  revenue_growth
0      Accessories     1504967.74       0.081589       -0.078714
1       Activewear     3122642.65       0.169289       -0.111165
2           Casual     3738191.17       0.202660       -0.017773
3           Ethnic     4112070.64       0.222930       -0.330041
4           Formal     4828821.96       0.261787       -0.008089
5       Loungewear     1138913.93       0.061744       -0.138706

In [180]:
# Thresholds (medians used for internal BCG)
share_median = bcg_category['revenue_share'].median()
growth_median = bcg_category['revenue_growth'].median()

def bcg_quadrant(row):
    if row['revenue_share'] >= share_median and row['revenue_growth'] >= growth_median:
        return 'Star'
    elif row['revenue_share'] >= share_median and row['revenue_growth'] < growth_median:
        return 'Cash Cow'
    elif row['revenue_share'] < share_median and row['revenue_growth'] >= growth_median:
        return 'Question Mark'
    else:
        return 'Dog'

bcg_category['bcg_quadrant'] = bcg_category.apply(bcg_quadrant, axis=1)

bcg_category[['product_category', 'revenue_share', 'revenue_growth', 'bcg_quadrant']] \
    .sort_values(['bcg_quadrant', 'revenue_share'], ascending=[True, False])

  product_category  revenue_share  revenue_growth   bcg_quadrant
3           Ethnic       0.222930       -0.330041       Cash Cow
1       Activewear       0.169289       -0.111165            Dog
5       Loungewear       0.061744       -0.138706            Dog
0      Accessories       0.081589       -0.078714  Question Mark
4           Formal       0.261787       -0.008089           Star
2           Casual       0.202660       -0.017773           Star

## BCG Matrix (Brand)

In [181]:
df['order_month'] = pd.to_datetime(df['order_date']).dt.to_period('M').astype(str)

In [182]:
brand_monthly = (
    df.groupby(['order_month', 'brand'], as_index=False)
      .agg(revenue=('order_value', 'sum'))
)

In [183]:
brand_pivot = brand_monthly.pivot(
    index='order_month',
    columns='brand',
    values='revenue'
).sort_index()

brand_growth = (
    (brand_pivot.iloc[-1] - brand_pivot.iloc[0]) /
     brand_pivot.iloc[0]
).reset_index()

brand_growth.columns = ['brand', 'revenue_growth']

In [184]:
brand_revenue = (
    df.groupby('brand', as_index=False)
      .agg(total_revenue=('order_value', 'sum'))
)

brand_revenue['revenue_share'] = (
    brand_revenue['total_revenue'] /
    brand_revenue['total_revenue'].sum()
)

In [185]:
bcg_brand = brand_revenue.merge(
    brand_growth,
    on='brand',
    how='left'
)

bcg_brand

    brand  total_revenue  revenue_share  revenue_growth
0  BrandA     3233439.17       0.175296       -0.199295
1  BrandB     3127938.65       0.169576       -0.228872
2  BrandC     2860409.84       0.155073       -0.187893
3  BrandD     3152455.66       0.170905        0.042895
4  BrandE     3057759.78       0.165772       -0.140761
5  BrandF     3013604.99       0.163378       -0.012065

In [186]:
share_median = bcg_brand['revenue_share'].median()
growth_median = bcg_brand['revenue_growth'].median()

def bcg_segment(row):
    if row['revenue_share'] >= share_median and row['revenue_growth'] >= growth_median:
        return 'Star'
    elif row['revenue_share'] >= share_median and row['revenue_growth'] < growth_median:
        return 'Cash Cow'
    elif row['revenue_share'] < share_median and row['revenue_growth'] >= growth_median:
        return 'Question Mark'
    else:
        return 'Dog'

bcg_brand['bcg_segment'] = bcg_brand.apply(bcg_segment, axis=1)

In [187]:
bcg_brand_segments = bcg_brand[
    ['brand', 'revenue_share', 'revenue_growth', 'bcg_segment']
].sort_values(['bcg_segment', 'revenue_share'], ascending=[True, False])

bcg_brand_segments

    brand  revenue_share  revenue_growth    bcg_segment
0  BrandA       0.175296       -0.199295       Cash Cow
1  BrandB       0.169576       -0.228872       Cash Cow
2  BrandC       0.155073       -0.187893            Dog
4  BrandE       0.165772       -0.140761  Question Mark
5  BrandF       0.163378       -0.012065  Question Mark
3  BrandD       0.170905        0.042895           Star